<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        {{>header}}
        <h3>Use this site to get the weather description:</h3>


        <div class="form">
            <input placeholder="location ..." type="text" class="search">
            <button class="button">Search</button>
        </div>
        <h3 class='description'></h3>
        {{>footer}}
    </div>
    <script src="js/app.js"></script>
</body>
</html>